html{
    font-size: 10px;
    --color: #642C99;
    --color-shop: #FBFAC9;
    --color-footer:#FDEFD1;
    --font-2: 'Wendy One',  sans-serif;
}
body, div, ul, li, a{
    margin: 0;
    padding: 0;
    color: var(--color);
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
} 

a{
    text-decoration: none; 
}


@media screen and (max-width: 768px){
    html{
        background-image: url('../image/bg.svg');
    }
    header, main, footer{
        max-width: 768px;
        margin: 0;
    }
    .container{  
        margin: 0 ;
    }
/*  header  */
    .header-container{
        max-width: 768px;
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 4rem;
        font-weight: 400;
    }
    
    .nav-container{
        display: flex;
        justify-content: space-between;
    }
    .div-item{
        display: none;
    }
    .dropbtn{
        width: 50px;
        display: flex;
        flex-direction: column;  
        border: none;
    }
    .item-dropbtn{
        border: 3px solid var(--color);
        border-radius: 8px;    
    }
    .item-1{
        width: 100%;
        margin-bottom: 6px;
    }
    .item-2{
        width: 70%;
        margin-bottom: 6px;
    }
    .item-3{
        width: 40%;
    }
    .dropdown, .dropbtn{
        font-size: 1.8rem;
        outline: none;
        color: var(--color);
        background-color: inherit;
    }
    .dropbtn:hover{
        background-color: var(--color-footer);
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: var(--color-footer);
        min-width: 180px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1
    }
    .dropdown-content a{
        display: block;
        text-align: left;
        padding: 1rem 1.6rem;
    }
    .dropdown-content a:hover{
        background-color: #FBFAC9;
    }
    /* hover or click */
    .dropdown:hover .dropdown-content{ 
        display: block;
    }

    /* modal-bag */
    .modal-bag{
        width: 242px;
        background-image: url('../image/back-bag-mobile.svg');
    }
    .shopping-list{
        padding-left: 5%;
        padding-right: 5%;
    }
    .bag-title{
        font-family: var(--font-2);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.688rem; 
        margin-top: 2rem  
    }
    .line{
        border: 1px solid var(--color);      
    }
    .scroll-bar{
        height: 175px; 
    }
    .scroll-bar::-webkit-scrollbar{
        width: .5rem;  
    }
    .table-shopping{
        width: 97%;
    }
    .img-cake{
        width: 1.8rem;
        height: 1.8rem;
    }
    .total{
        width: 94%;
        margin-bottom: .9rem;
    }
    .cake-name, .total-text{
        font-size: 1rem;
        line-height: 1.2rem;  
        font-weight: 700; 
    }
    .price-cake, .total-price{
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 1.56rem; 
        text-align: right;  
    }  
    .btn-checkout, .btn-view-cart{
        padding: 1rem 5rem;
        border-radius: 8px;
        font-size: .8rem;   
    }
    .btn-view-cart{
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
    }
    .button-close{
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1.4rem;   
        font-weight: 400;
        padding: 0 0.25rem;
        border-radius: 8px;
    }

     /* <768 */
    .first-section{
        margin-top: 8rem;
        margin-bottom: 4.7rem;
        padding-left: 10%;   
    }
    .second-section{
        margin-top: 7.5rem;
    }
    .second-info{
        padding-left: 10%;   
    }
    .third-section{
        padding-left: 2rem;
        margin-top: 21.2rem;
        margin-bottom: 30%;
    }
    h1, .second-title, .third-title{
        width: 50%;
        font-family: var(--font-2);
        font-size: 6rem;   
        font-weight: 400;
        margin:0;
    }
    .second-title{
        min-width: 350px;
        font-size: 5.2rem;  
    }
    .third-title{
        min-width: 300px;
        font-size: 3.2rem;  
    }  
    .first-text{
        min-width: 355px;
        margin-bottom: 3.4rem;
        padding-right: 8%;
        text-align: justify;
    } 
    .second-text{
        min-width: 355px;    
        padding-right: 8%;
        text-align: justify; 
    }
    .third-text{
        min-width: 370px;    
        text-align: left;
    } 
    .img-back768{
        display: inline-block;
        width: 266px;
        margin-top: 4.7rem;
        margin-left: 25%;
        animation: animationFirstImg 1s linear 1;
    }
    .first-img, .second-img{
        display: none;
    } 
    .second-img768{
        display: flex;
        flex-direction: column;
        padding-left: 10%; 
        margin-top: 7rem;
        margin-bottom: 12.2rem;
    }
    .second-img1, .second-img2{ 
        display: inline-block;    
        max-width: 301px;
      
    }
     .second-img1{
        animation: showSecondImg1 2s linear 1;    
    }
    .second-img2{
        animation: showSecondImg2 2s linear 1;   
    }
   
    .third-img{
        display: none;    
    }
    .third-img-768{
        display: block;
        padding-left: 20%;
    }
    .img3{
        display: inline-block;
        max-width: 248px;
        margin-top: 7.4rem;
    }
     /* catalog section*/
    .catalog-list{
        text-align: center;
        padding: 2rem;   
    }
      .catalog-title{
        min-width: 350px;
        max-width: 400px;
        font-family: var(--font-2);  
        font-size: 5.2rem; 
        font-weight: 400;
        padding-left: 10%;
        margin-bottom: 7rem;
    }
    .item-img{
        display: inline-block;
        width: 18.2rem; 
    }
    .item{
        margin-bottom: 5.5rem;
    }
    .shopping-btn{
        padding: 1.2rem 3.6rem;
    }    
    /* footer */
    .footer-1200, .footer-desktop{
        display: none;
    }
    .footer-768{
        display: block;
        margin-left: 3rem;
    }
    .footer-title{
        width: 25%;
        padding-top: 10px;
        margin-bottom: 5.2rem;
    }
    .footer-item-third{
        width: 95%;
    }
    .container-input{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        margin-top: 3.5rem;
        margin-bottom: 3rem;
    }
    .footer-input{
    
        margin-bottom: 3.4rem;
    }
    .footer-nav-item{    
        font-family: var(--font);
        color: var(--color-footer); 
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: .5rem;
    }   
    .item-last-row-footer{
        text-transform: uppercase;
        padding-bottom: 6.7rem;
    }    
}


@media screen and (min-width: 768px) and (max-width: 1200px){
    html{
        background-image: url('../image/back-desktop.png');
    }
    header, main, footer{
        max-width: 1200px;
        margin: auto;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    /*  header  */
    .header-container{
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 4rem;
        font-weight: 400;
    }
    
    .nav-container{
        display: flex;
        justify-content: space-between;
    }
    .div-item{
        display: none;
    }
    .dropbtn{
        width: 50px;
        display: flex;
        flex-direction: column;  
        border: none;
    }
    .item-dropbtn{
        border: 3px solid var(--color);
        border-radius: 8px;    
    }
    .item-1{
        width: 100%;
        margin-bottom: 6px;
    }
    .item-2{
        width: 70%;
        margin-bottom: 6px;
    }
    .item-3{
        width: 40%;
    }
    .dropdown, .dropbtn{
        font-size: 1.8rem;
        outline: none;
        color: var(--color);
        background-color: inherit;
    }
    .dropbtn:hover{
        background-color: var(--color-footer);
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: var(--color-footer);
        min-width: 180px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1
    }
    .dropdown-content a{
        display: block;
        text-align: left;
        padding: 1rem 1.6rem;
    }
    .dropdown-content a:hover{
        background-color: #FBFAC9;
    }
    /* hover or click */
    .dropdown:hover .dropdown-content{ 
        display: block;
    }  
   /* modal-bag */ 
    .modal-bag{
        max-width: 484px;
        background-image: url('../image/back-bag.png');
    }
    .shopping-list{
        padding-left: 6%;
        padding-right: 6%;
    }
    .line{
        border: 2px solid var(--color);      
    }
    .bag-title{
        font-family: var(--font-2);
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 3.4rem; 
        padding-top: 1rem;   
    }
    .table-shopping{
        width: 97%;
    }
    .img-cake{
        width: 4rem;
        height: 4rem;
    }
    .total{
        width: 95%;
        margin-bottom: 2rem;
    }
    .cake-name, .total-text{
        font-size: 2rem;
        line-height: 2.4rem;  
        font-weight: 700; 
    }
    .price-cake, .total-price{
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 3.12rem;  
        text-align: right; 
    }
    .scroll-bar{
        height: 350px; 
    }
    .scroll-bar::-webkit-scrollbar{
        width: 1rem;  
    }
   
    .btn-checkout, .btn-view-cart{
        padding: 2rem 10rem;
        border-radius: 8px;
        font-size: 1.6rem;   
    }
    .btn-view-cart{
        margin-top: 2.2rem;
        margin-bottom: 2.2rem;
    }
    .button-close{
        position: absolute;
        top: 2rem;
        right: 3rem;
        font-size: 2.8rem;   
        font-weight: 400;
        padding: 0 0.5rem;
        border-radius: 8px;
    }
    /* > 768  */
    .first-section{
        margin-top: 15.5rem;
        margin-bottom: 40.4rem;
    }
    .second-section{
        margin-bottom: 37.6rem;    
    }
    .second-info{
        margin-left: 45%;
    }
    .third-section{
        padding-left: 4rem;
        margin-top: 33.7rem;
        margin-bottom: 45rem;
    }
    h1, .second-title, .third-title{
        width: 40%;
        font-family: var(--font-2);     
        font-weight: 400;
        margin:0;
    }
    h1{
        font-size: 10rem;   
    }
    .second-title{
        min-width: 450px;
        font-size: 7rem;  
    }
    .third-title{
        min-width: 350px;
        font-size: 7rem;  
    }  
    .img-three-cakes,  .img-back768{
        display: none;
    }
    .img-two-cakes{
        display: inline-block;
        max-width: 365px;
        position: absolute;
        top: -10%;
        right: -4%;  
        animation: animationFirstImg 1s linear 1;
    }
     /* > 768  */
    .first-text{
        width: 60%;
        min-width: 450px;
    } 
    .second-text{
        width: 400px;    
    }
    .third-text{
        max-width: 470px;
    }
    .second-img768{
        display: none;
    }
    .second-img{
        max-width: 322px;
        position: absolute;
        top: -8%;
        left: -2%;
    }
    .second-img1, .second-img2{
        display: inline-block;    
        max-width: 322px;
    }
    .second-img2{
        top: -20px;
        left: 0;
        animation: showSecondImg2 2s linear 1;
    }
    .second-img1{
        top: 120px;
        left: 0;
        animation: showSecondImg1 2s linear 1;   
    }
    .third-img-768{
        display: none;    
    }
    .img3{
        display: inline-block;
        max-width: 364px;
        position: absolute;
        top: 65%;
        right: 2%;
    }
/*  grid - section*/    
    .catalog-list{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        align-content: center;
        gap: 10rem 5rem;
    }
    /* catalog section*/
    .catalog-title{
        width: 650px;
        font-family: var(--font-2);  
        font-size: 7rem; 
        font-weight: 400;
        padding-left: 4rem;
        margin-bottom: 7.2rem;
    }
    .item-img{
        display: inline-block;
         width: 23rem;
         height: 23rem; 
     
     }
     .shopping-btn{
        padding: 1.2rem 5.1rem;
    }    
    /* footer */
    .footer-1200, .footer-768{
        display: none;
    }
    .footer-desktop{
        display: block;
        margin-top: 40rem;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        position: relative;    
    }
    .footer-item-first{
        max-width: 132px;
        margin-bottom: 9.9rem;
        margin-right: 10rem;
    }
    .footer-item-third{
        width: 100%;
    }
    .container-input{
        display: flex;
        justify-content: space-between;
        margin-top: 2.2rem;
        
    }
    .footer-input{
        min-width: 25rem;
        width: 80%;
        margin-right: 3rem;
    }    
    .footer-desktop-nav{
        width: 50%;
        display: flex;
        justify-content: space-around;
        margin-bottom: 7rem;
    }
    .last-row-footer{
        text-transform: uppercase;
        font-family: var(--font);
        color: var(--color-footer); 
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 4.8rem;
        margin-bottom: 3rem;
    }   
}

@media screen and (min-width: 1201px){
    html{
        background-image: url('../image/back1200.png');
    }
    main, footer{
        min-width: 1201px;
        margin: auto;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
/*  header  */
    .header-container{
        display: flex;
        justify-content: space-between;
        margin: 1.5rem 4rem;
        font-weight: 400;
    }
    .nav-container{
        display: flex;
        justify-content: space-between;
    }
    .div-item{
        font-size: 1.8rem;
        margin: 1.2rem;   
    }
    .div-item:hover{   
        scale: 1.1;
        text-decoration: underline;
    }    
    .div-item:active{
        font-weight: 900;
    }
    .dropdown{
        display: none;
    }

    /* modal-bag */ 
    .modal-bag{
        max-width: 484px;
        background-image: url('../image/back-bag.png');
    }
    .shopping-list{
        padding-left: 6%;
        padding-right: 6%;
    }
    
    .bag-title{
        font-family: var(--font-2);
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 3.4rem; 
        padding-top: 1rem;   
    }
    .line{
        border: 2px solid var(--color);      
    }
    .scroll-bar{
        height: 350px; 
    }
    .scroll-bar::-webkit-scrollbar{
        width: 1rem;  
    }
    .table-shopping{
        width: 97%;
    }
    .img-cake{
        width: 4rem;
        height: 4rem;
    }
    .total{
        width: 95%;
        margin-bottom: 2rem;
    }
    .cake-name, .total-text{
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 700;   
    }
    .price-cake, .total-price{
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 3.12rem;   
        text-align: right;
    }
    .btn-checkout, .btn-view-cart{
        padding: 2rem 10rem;
        border-radius: 8px;
        font-size: 1.6rem;   
    }
    .btn-view-cart{
        margin-top: 2.2rem;
        margin-bottom: 2.2rem;
    }
    .button-close{
        position: absolute;
        top: 2rem;
        right: 3rem;
        font-size: 2.8rem;   
        font-weight: 400;
        padding: 0 0.5rem;
        border-radius: 8px;
    }

     /* >1200  */ 
    .first-section{
        margin-top: 12rem;
        margin-bottom: 46rem;
    }
    .second-section{
        margin-bottom: 50rem;
    }
    .second-info{
        margin-left: 45%;
    }
    .third-section{
        padding-left: 4rem;
        margin-top: 45rem;
        margin-bottom: 48rem;
    }
    h1, .second-title, .third-title{
        width: 40%;
        font-family: var(--font-2);
        font-size: 12rem;   
        font-weight: 400;
        margin:0;
    }
    .second-title{
        min-width: 85%;
        font-size: 9rem;  
    }
    .third-title{
        min-width: 600px;
    }   
    .img-three-cakes{
        display: inline-block;
        max-width: 90%;
        min-width: 532px;
        position: absolute;
        top: -20%;
        right: 0;
        animation: animationFirstImg 1s linear 1;
    }
    .img-two-cakes, .img-back768{
        display: none;
    }
    .first-text{
        width: 60%;
    } 
    .second-text{
        min-width: 70%;
        max-width: 650px;    
    }
    .third-text{
        max-width: 600px;
    }
    .second-img768{
        display: none;
    }
    .second-img{
        max-width: 430px;
        position: absolute;
        top: -8%;
        left: 0;  
    }
   
    .div-second-img1, .div-second-img2{
        display: inline-block;    
        max-width: 430px;  
    }
   
    .second-img2{
        top: -20px;
        left: 0rem;
        animation: showSecondImg2 2s linear 1;
    }
    .second-img1{
        position: absolute;   
        top: 250px;
        left: 0rem;
        animation: showSecondImg1 .5s linear 1;
       
    }
    .third-img-768{
        display: none;    
    }
    .img3{
        display: inline-block;
        max-width: 494px;
        position: absolute;
        top: 25%;
        right: 0rem;
    }
/*  grid - section*/      
    .catalog-list{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
        align-content: center;
        gap: 16rem 4rem;
    }
    /* catalog section*/
    .catalog-title{
        max-width: 65%;
        font-family: var(--font-2);  
        font-size: 9rem; 
        font-weight: 400;
        padding-left: 8rem;
        margin-bottom: 20.7rem;
    }
    .item-img{
        display: inline-block;
         width: 23rem;
         height: 23rem;  
    }
    .shopping-btn{
        padding: 1.2rem 5.2rem;
    }    
/* footer */
    .footer-desktop, .footer-768{
        display: none;
    }
    .footer-1200{
        display: block;
    }
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        position: relative;    
    }
    .footer-item-first{
        width: 15%;
    }
   
    .footer-item-second{
        width: 15%;
    }
    .footer-item-third{
        width: 50%;
    }
    
    .container-input{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 2.2rem;
    }
    .footer-input{
        width: 70%;   
    }    
    .last-row-footer{
        max-width: 60%;
        display: flex;
        justify-content: space-between;
        margin-top: 7.3rem;
        margin-bottom: 9rem;
    }
    .item-last-row-footer:first-child{
        text-transform: uppercase;
    }   
}

/* common styles */

.shopping-bag{
    position: relative;  
    max-width: 4rem;
}
.shopping-bag:hover{
    scale: 1.1;    
}
.counter-shopping-bag{
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 8px;
    font-size: 1.4rem;
    background-color: #FCEFD2;  
    border-radius: 50%;
    padding: .4rem .8rem;  
}

/* first-section, second-section, third-section  */

.first-section, .second-section, .third-section{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;    
 
}
.first-text, .second-text, .third-text{
    font-size: 1.8rem;
    font-weight: 400; 
    line-height: 2.6rem;
}
.shopping-btn, .story-button{
    display: inline-block;
    border-radius: 8px;
    background-color: var(--color);
    text-align: center;
    font-weight: 400;   
    font-size: 1.6rem;   
    color:  var(--color-shop);
    margin-top: 4.6rem;
}
.story-button{
    padding: 1.2rem 5.8rem;
    margin-top: 2.2rem;
}
.shopping-btn:hover, .story-button:hover{
    font-weight: 700;   
    background-color: #4e0196;
}


@keyframes animationFirstImg{
    from {
        right: -3200px;
        transform: translateX(3200px);
    }    
    90%{
        transform: translate(0,0);   
    }
}
@keyframes showSecondImg1{
    from {  
        left: -1200px;
        transform: translateX(-1200px);
    }
    70%{
        transform: translate(0,0);   
    }
}
@keyframes showSecondImg2{
    from, 80% {
        top: -2200px; 
        transform: translateY(-2200px);
    }       
    to{
        transform: translate(0,0);   
    }
}


/* cart of capcake */
.catalog-list{
    font-size: 1.6rem;
    font-weight: 400; 
    line-height: 2.4rem;
}
.item{   
    width: 90%;
    text-align: center;
}
.item-title{    
    font-family: var(--font-2);
    font-size: 3.2rem;  
    font-weight: 400;   
    margin-top: 4.6rem;
    margin-bottom: 3.4rem;
}
.item-info{
    font-size: 1.6rem;  
    font-weight: 400;   
    min-width: 355px;
    max-width: 500px;
    text-align: center;
} 
.count-btn-add{
    display:flex;
    justify-content: space-between;    
    margin-top: 3.8rem;
}
.counter{
    max-width: 30%;
    display:flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 8px;  
    border: solid 1px var(--color);
}
.add-to-card{
    width: 70%;
    margin-top: 0;
  
}
.minus, .plus, .result{ 
    width: 3rem;
    font-weight: 400;   
    font-size: 1.8rem;   
    border: none;     
    background-color: rgba(28,28,28,0);   
}
.minus:hover, .plus:hover{
    font-weight: 600;
    scale: 1.4;
    text-shadow: 2px 2px 3px light-grey;
    cursor: pointer;
}
.div-modal{
    position: absolute;
    display: none;
    width: 15rem;
    text-align: center;
    background-color: var(--color-shop);
    border: 1px solid var(--color);
    border-radius: 8px;
    font-size: 1.8rem;  
    font-weight: 400;  
    padding: 1rem 1rem;
}
/* footer common*/
.footer-nav-item > a, 
.footer-label, 
.item-last-row-footer > a,
.item-last-row-footer{
    font-family: var(--font);
    color: var(--color-footer); 
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 4.8rem;
}
.footer-title{
    font-family: var(--font-2);
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--color-footer);
    line-height: 3.4rem;
}
.footer-input{ 
    box-sizing: border-box;
    border: 2px solid var(--color-footer);
    border-radius: 8px;
    background-color: var(--color);
    font-family: var(--font);
    color: var(--color-footer);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3rem;
    padding: .6rem 1.1rem 0.5rem 2.4rem;
}
.footer-btn{
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--color-footer);
    font-family: var(--font);  
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.92rem;
    color: var(--color);
    text-transform: uppercase;
    padding: 1.2rem 3.2rem;
}
.footer-btn:hover{    
    text-decoration: underline;
}
.footer-nav-item > a:hover{
    text-decoration: underline;
}
.item-last-row-footer > a:hover{
    text-decoration: underline;
}

/* my bag common*/
.modal-bag{
    display: none;
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 1; 
}
.scroll-bar{
    overflow-y: auto;  
}
.scroll-bar::-webkit-scrollbar{
    border: 1px solid rgb(250, 215, 128);  
    background-color: var(--color-shop);
}
.scroll-bar::-webkit-scrollbar-thumb{
    border-radius: 10px;    
    background-color: var(--color);
}

.total{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-container{
    width: 85%;
    padding-left: 8%;
    text-align: center;
}
.btn-checkout, .btn-view-cart{
    max-width: 70%;
    border-radius: 8px;
    background-color: var(--color);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-shop);   
}
.btn-view-cart{
    background-color: var(--color-footer);
    color: var(--color);
}
.btn-checkout:hover, .btn-view-cart:hover{
    text-decoration: underline;
    font-weight: 700; 
    cursor: pointer;
}
.button-close:hover{
    cursor:pointer;
    background-color: var(--color);
    color: var(--color-shop);  
}
.blocked{
    pointer-events: none;
    opacity: 70%;
}
